body{
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('assets/book.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  max-width:100%;
  max-height:100%;
  width:auto;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

.App {
  text-align: center;
}

.heading{
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  background-color: red;
  color: white;
  padding: 30px 0px;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.5em; 
  font-weight: bold;
  border-bottom: 5px solid black;
}

.form input{
  margin-top: 50px;
  font-family: 'Oswald', sans-serif;
}

.input{
  font-size: 40px;
  width: 60%;
  height: auto;
  border: 3px solid silver;
}

.input:focus{
  outline: 0;
}

.submit{
  font-size: 40px;
  width: 10%;
  height: auto;
  background: white;
  border: 3px solid silver;
  margin-left: 10px;
}

.submit:active{
  border: 3px solid rgba(255, 0, 0, 0.274);
}

.submit:focus{
  outline: 0;
}

.book-card{
  background-color: white;
  display: inline-block;
  width: calc(70% + 10px);
  min-height: 200px;
  margin: 30px auto;
  border: 3px solid rgba(255, 0, 0, 0.274);
  padding: 20px;
  box-sizing: border-box;
}

.book-cover-img{
  float: left;
  width: 30%;
}

.image{
  width: 60%;
  height: 60%;
}

.info{
  float: right;
  width: 60%;
}

.info-title{
  font-family: 'Oswald', sans-serif;
  padding-bottom: 15px;
  font-size: 2em;
  font-weight: bold;
}

.info-authors{
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(129, 129, 129); 
}

.info-rating, .info-cat, .info-price, .info-desc{
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
}

.info-pub{
  font-size: 14px;
}

.info-desc{
  padding-bottom: 65px;
}

.see-more{
  outline: 0;
  float: left;
  font-family: 'Oswald', sans-serif;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.load-more{
  box-sizing: border-box;
  margin: 10px 0px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  width: 70%;
  height: 2em;
  background-color: rgb(128, 128, 128, 0.7);
  border: 3px solid rgba(255, 0, 0, 0.274);
  border-radius: 10px;
}

.load-more:active{
  background-color: rgba(58, 58, 58, 0.7);
  text-shadow: 5px 5px 5px black;
}

.load-more:focus{
  outline: 0;
}

@media (max-width: 1150px){
  .input, .submit{
    font-size: 20px;
  }
}

@media (max-width: 700px){
  body{
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(255, 255, 255)), url('assets/book.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  .heading{
    font-size: 20px;
  }

  .input, .submit{
    font-size: 14px;
  }

  .input{
    width: 70%;
  }

  .submit{
    width: 20%;
  }

  .book-card{
    width: calc(90% + 10px);
  }

  .book-cover-img{
    margin: 0px auto;
    float: none;
    width: 80%;
  }
  
  .image{
    width: 80%;
    height: 80%;
  }

  .info{
    margin: 0px auto;
    float: none;
    width: 90%;
  }

  .load-more{
    font-size: 20px;
  }
}